<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profpic.jpeg" %>
  </div>

  <div id="content">
    <h1>Caroline Joseph</h1>
    <p>
      About me section
    </p>
  </div>
</div>